body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgb(33, 4, 59);
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color: rgb(231, 231, 231);
    margin-top: 10px;
    margin-left: 10px;
}
legend{
    color: whitesmoke;
}
.pithas{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}